<!DOCTYPE html>
<html lang="en">

<body style="background-color: lightgreen">
	<div class="wrapper login">
		<div class="container">
			<div class="col-right">
				<div class="login-form">
					<h2>Admin Login</h2>
					<form action="/adminPage">
						<label for="uname"><b>User Id:</b></label> <input type="text"
							placeholder="Username" name="uname" required> <br>
						<br> <label for="psw"><b>Password: </b></label> <input
							type="password" placeholder="Password" name="psw" required><br>
						<br>
						<button type="submit" value="Login">Login</button>
					</form>
				</div>
			</div>

		</div>
	</div>
</body>

</html>